MOBILE_PASS_APPLE_ORGANISATION_NAME=Spatie
MOBILE_PASS_APPLE_TYPE_IDENTIFIER=pass.com.example
MOBILE_PASS_APPLE_TEAM_IDENTIFIER=
MOBILE_PASS_APPLE_CERTIFICATE_CONTENTS=
MOBILE_PASS_APPLE_CERTIFICATE_PASSWORD=
MOBILE_PASS_APPLE_WEBSERVICE_SECRET=
MOBILE_PASS_APPLE_WEBSERVICE_HOST=

MOBILE_PASS_GOOGLE_ISSUER_ID=
MOBILE_PASS_GOOGLE_KEY_BASE64=
MOBILE_PASS_GOOGLE_KEY_CONTENTS=
MOBILE_PASS_GOOGLE_KEY_PATH=
MOBILE_PASS_GOOGLE_API_BASE_URL=

MOBILE_PASS_QUEUE_CONNECTION=
MOBILE_PASS_QUEUE_NAME=default
